.navItem {
  @apply mr-3 text-transparent bg-clip-text bg-gradient-to-br from-black to-black dark:from-white dark:to-white dark:hover:from-pink-400 dark:hover:to-red-600;
}

.active {
  @apply dark:from-pink-400 dark:to-red-600 font-bold dark:font-medium;
}

.navItem::after {
  display: block;
  content: attr(title);
  font-weight: bold;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
}